<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- include('include/top.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
    <style>
      .card {
        width: fit-content;
        /* border: 1px solid red; */
        margin: 40px auto;
        background-color: white;
        border-radius: 20px;
        border: 2px solid blue;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      form {
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 10px;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        margin: 10px;
        /* padding: 10px ; */
      }
      .form-group > * {
        display: flex;
        flex-direction: column;
        font-size: 20px;
      }

      input {
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        font-family: "Ubuntu";
      }

      label {
        color: rgb(77, 76, 76);
      }

      .btn {
        display: inline-block;
        margin: 5px auto;
        padding: 10px auto;
        text-align: center;
        align-items: center;
        font-size: 20px;
      }
      .message {
        color: red !important;
      }

      i.fa{
       margin-right: 5px; 
       display: none;
      }
    </style>
  </head>
  <body>
    <%- include('include/header.ejs') %> <%- include('include/navbar.ejs') %>

    <div class="card">
      <form>
        <h2>Register</h2>
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" name="username" id="username" required/>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <p class="message"></p>
        <div class="form-group">
          <button type="submit" class="btn register"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            Register</button>
        </div>
        <p>Existing User ? <a href="/login" class="btn">Login</a></p>
      </form>
    </div>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
    let form = document.querySelector("form");
    let loader=document.querySelector('i.fa');
    console.log(loader)
    let registerbtn = document.querySelector(".register");
    let msg = document.querySelector(".message");
    msg.style.display = "none";

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      console.log("click");
      try {
        let username = document.querySelector("#username").value;
        let password = document.querySelector("#password").value;
        const formData = new FormData(e.target);
        const formProps = Object.fromEntries(formData);
        console.log(formProps);

        loader.style.display="inline-block";
        axios
          .post("/register", formProps, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response )=> {
            let result=response.data;
            console.log(result);
            msg.style.display = "block";
            msg.textContent = result.message;
            console.log(msg);
            setTimeout(() => {
              msg.textContent = "";
              msg.style.display = "none";

            }, 2000);

            if (result.success) {
              location.href = "/";
            }
            loader.style.display="none";
            
          })
          .catch((err) => {
            // console.log(result);
            // console.log(msg);
            msg.style.display = "block";
            msg.textContent = "User registration failed";
            console.log(err);
            setTimeout(() => {
              msg.textContent = "";
              msg.style.display = "none";
            }, 2000);
            loader.style.display="none";
          });

      } catch (error) {
        console.log(error);
      } 
     
    });
  </script>
</html>
