<div class="navbar">
    <div class="container">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/compile">Compile</a></li>
              <li><a href="/createproblem">Add problem</a></li>
              <li><a href="/viewproblems/">View problems</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
      </div>
  </div>