<div class="navbar">
    <div class="container">
          <ul>
              <li><a href="http://localhost:3000">Home</a></li>
              <li><a href="http://localhost:3000/compile">Compile</a></li>
              <li><a href="http://localhost:3000/createproblem">Add problem</a></li>
              <li><a href="http://localhost:3000/viewproblems/">View problems</a></li>
              <li><a href="http://localhost:3000/logout">Logout</a></li>
          </ul>
      </div>
  </div>